@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
  border: 2px solid #0a96f4;
  border-radius: 14px;
  background: white;
  box-shadow:
    0 0 0 1px rgba(10, 150, 244, 0.25),
    0 0 18px rgba(10, 150, 244, 0.28),
    0 10px 30px rgba(0, 0, 0, 0.12);
}

.custom-popup .leaflet-popup-tip {
  background: white;
  border: 2px solid #0a96f4;
}
